[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
aiohttp = "==3.9.3"
prometheus-client = "*"
click = ">=8"
opentelemetry-instrumentation-aiohttp-client = "*"
numpy = "*"

[requires]
python_version = "3.10"
